* {
	margin: 0px;
	padding: 0px;
}

.fondoBlanco {
	background-image: url(../imgs/fondo2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.contenedor {
	height: 72px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.contenedor img {
	margin: 20px;
}

.contenedor ul {
	list-style: none;
	display: inline-block;
}

.contenedor li {
	float: left;
}

.contenedor a {
	padding: 10px;
	text-decoration: none;	
	background-color: silver;
	color: black;
	font-weight: bold;	
	border: 1px solid black;
	transition: all 600ms;
}

.contenedor a:hover {
	padding: 20px;
	border-radius: 20px;
}

.contenedor .azul:hover {
	background-color: #79BDFC;
}

.contenedor .rosa:hover {
	background-color: #C97FFD;
}