* {
	margin: 0px;
	padding: 0px;
}

.fondoBlanco {
	background-image: url(../imgs/fondo2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#contenedor4 {
	width: 1100px;
	margin: auto;
	margin-top: 50px;
}

#contenedor4 div {
	width: 500px;
	height: 500px;
	border: 7px solid black;
	color: white;
	font-size: 50px;
	border-radius: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 600ms;
	box-shadow: 10px 10px 5px #939393;
}

#contenedor4 div:hover {	
	border-radius: 50%;
}

#mensajes1 {
	background-color: #C97FFD;
	margin-right: 100px;
}

#mensajes2 {
	background-color: #438CDF;
	float: right;
}

#contenedor4 a {
	text-decoration: none;
	color: white;
}

.contenedor5 {
	width: 300px;
	margin: auto;
	margin-top: 100px;

}