* {
	margin: 0px;
	padding: 0px;
}

#mes {
	text-align: center;
	width: 250px;
	height: 210px;
	overflow: hidden;
	background-color: #4672FF;
	border-radius: 20px;
	padding: 10px;
}

.day-name {
	font-weight: bold;
	border: 1px solid black;
	background-color: #C97FFD; 
	color: white;
	margin-bottom: 8px;
}

.first-day {
	grid-column-start: 2;
}

#mes h2 {
	color: white;
	margin-bottom: 8px;
}

#mes ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

#mes .day {
	margin: 2px;
	border: 1px solid black;
	background-color: white;
	transition: all 400ms;
}

#mes a {
	text-decoration: none;
}

#mes .day:hover {
	background-color: khaki;
}

#mes .unaCifra a:focus {
	padding: 1px 11.1px;
	color: white;
	background-color: red;
}

#mes .dosCifras a:focus {
	padding: 1px 7.1px;
	color: white;
	background-color: red;
}